name: diffuser
channels:
- defaults
- conda-forge
dependencies:
- python=3.8
- setuptools=65.5.0 #added this due to error when creating conda env https://github.com/readthedocs/readthedocs.org/issues/10286 
#- setuptools=66
- pip
- patchelf
- wheel==0.38.4 #https://github.com/openai/gym/issues/3202 (to fix gym's building wheels, still need to fix mujoco-py's)
# - wheel==0.42.0
- pip:
    - -f https://download.pytorch.org/whl/torch_stable.html
    - numpy
    - gym==0.18.0
    #- mujoco==2.1.0 #Added because error when trying to install mujocopy without this
    #- mujoco==3.1.2
    #- mujoco-py==2.1.2.14 # Changed from 2.0.2.13 so it would actually build wheel...
    - mujoco-py<2.2,>=2.1
    - matplotlib==3.3.4
    - torch==1.9.1 # Original line was "torch==1.9.1+cu111" but removed it due to no cuda
    - typed-argument-parser
    - git+https://github.com/Farama-Foundation/d4rl@f2a05c0d66722499bf8031b094d9af3aea7c372b#egg=d4rl
    - scikit-image==0.17.2
    - scikit-video==1.1.11
    - gitpython
    - einops
    - ffmpeg
    - ffprobe
    - pillow
    - tqdm
    - pandas
    - wandb
    - flax >= 0.3.5
    - jax <= 0.2.21
    - ray==2.0.0
    - crcmod # for fast gsutil rsync on large files
    - google-api-python-client
    - cryptography
    - git+https://github.com/JannerM/doodad.git@janner
    - gdown>=4.6.0
